Repository ildoc/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: yaml_lint, update_invidious

yaml_lint:
  stage: lint
  image: python:3.13
  script:
  - pip install yamllint
  - yamllint . -c .yamllint
  allow_failure: true

update_invidious:
  variables:
    SERVICE_SSH_SERVER_IP: $INVIDIOUS_SSH_SERVER_IP
    SERVICE_PLAYBOOK: invidious.yml

Merge branch 'renovate/external-secrets-0.x' into 'master'
  kubernetes/infra/manifests/external-secrets-operator/Chart.yaml
Due: yaml_lint

fix
  kubernetes/applications/ittools/httproute.yaml
Due: yaml_lint

Merge branch 'renovate/migrate-config' into 'master'
  renovate.json
Due: none

Merge branch 'renovate/gitlab-gitlab-ce-18.x' into 'master'
  ansible/roles/gitlab/files/docker-compose.yml
Due: yaml_lint

Merge branch 'renovate/ghcr.io-mealie-recipes-mealie-3.x' into 'master'
  kubernetes/applications/audiobookshelf/deployment.yaml
  kubernetes/applications/mealie/deployment.yaml
  kubernetes/applications/peanut/deployment.yaml
  kubernetes/applications/speedtest/deployment.yaml
  kubernetes/applications/stirlingpdf/deployment.yaml
  kubernetes/infra/manifests/cert-manager/Chart.yaml
  kubernetes/infra/manifests/external-secrets-operator/Chart.yaml
Due: yaml_lint

Merge branch 'renovate/quay.io-invidious-inv-sig-helper-latest' into 'master'
  ansible/roles/invidious/templates/docker-compose.yml.j2
Due: yaml_lint, update_invidious

update renovate
  renovate.json
Due: none

renovate
  renovate.json
Due: none

Merge branch 'renovate/proxmox-0.x' into 'master'
  ansible/roles/db/templates/docker-compose.yml.j2
  ansible/roles/gitea/files/docker-compose.yml
  ansible/roles/redis/templates/docker-compose.yml.j2
  ansible/roles/vault/files/docker-compose.yml
  kubernetes/applications/speedtest/deployment.yaml
  kubernetes/applications/stirlingpdf/deployment.yaml
  kubernetes/infra/manifests/external-secrets-operator/templates/eso-bootstrap.yaml
  opentofu/modules/proxmox-lxc/providers.tf
  opentofu/modules/proxmox-vm/providers.tf
  opentofu/providers.tf
Due: yaml_lint

Merge branch 'master' of gitlab.local.ildoc.it:ildoc/homelab
  renovate.json
Due: none

namespace
  kubernetes/applications/engiaibot/deployment.yaml
Due: yaml_lint

engiaibot
  .ansible/.lock
  .vscode/settings.json
  ansible/proxmox_upgrade.yml
  ansible/roles/proxmox8to9/defaults/main.yml
  ansible/roles/proxmox8to9/handlers/main.yml
  ansible/roles/proxmox8to9/tasks/configure_repos.yml
  ansible/roles/proxmox8to9/tasks/main.yml
  ansible/roles/proxmox8to9/tasks/post_upgrade.yml
  ansible/roles/proxmox8to9/tasks/pre_checks.yml
  ansible/roles/proxmox8to9/tasks/update_current.yml
  ansible/roles/proxmox8to9/tasks/upgrade_system.yml
  kubernetes/applications/engiaibot/deployment.yaml
Due: yaml_lint

Merge branch 'renovate/ghcr.io-wg-easy-wg-easy-15.x' into 'master'
  ansible/roles/gitea/files/docker-compose.yml
  ansible/roles/vault/files/docker-compose.yml
  ansible/roles/wireguard/templates/docker-compose.yml.j2
  kubernetes/infra/manifests/external-secrets-operator/Chart.yaml
Due: yaml_lint

renovate config
  renovate.json
Due: none

Merge branch 'renovate/brandawg93-peanut-5.x' into 'master'
  .github/workflows/gh-pages.yml
  kubernetes/applications/audiobookshelf/deployment.yaml
  kubernetes/applications/peanut/deployment.yaml
  kubernetes/infra/manifests/external-secrets-operator/Chart.yaml
Due: yaml_lint

update invidious
  ansible/roles/invidious/templates/docker-compose.yml.j2
Due: yaml_lint, update_invidious

Merge branch 'renovate/brandawg93-peanut-5.x' into 'master'
  kubernetes/applications/peanut/deployment.yaml
Due: yaml_lint

Merge branch 'renovate/ghcr.io-mealie-recipes-mealie-3.x' into 'master'
  kubernetes/applications/mealie/deployment.yaml
Due: yaml_lint

Merge branch 'renovate/ghcr.io-flaresolverr-flaresolverr-3.x' into 'master'
  ansible/roles/gitlab/files/docker-compose.yml
Due: yaml_lint

Merge branch 'renovate/frooodle-s-pdf-1.x' into 'master'
  kubernetes/applications/stirlingpdf/deployment.yaml
Due: yaml_lint

Merge branch 'renovate/hashicorp-vault-1.20.x' into 'master'
  ansible/roles/vault/files/docker-compose.yml
Due: yaml_lint

Merge branch 'renovate/gitlab-gitlab-ce-18.3.x' into 'master'
  ansible/roles/gitlab/files/docker-compose.yml
Due: yaml_lint

Merge branch 'renovate/brandawg93-peanut-5.14.x' into 'master'
  kubernetes/applications/peanut/deployment.yaml
Due: yaml_lint

invidious
  ansible/roles/invidious/templates/docker-compose.yml.j2
Due: yaml_lint, update_invidious

Merge branch 'renovate/gitlab-gitlab-ce-18.3.x' into 'master'
  ansible/roles/invidious/templates/docker-compose.yml.j2
  kubernetes/applications/peanut/deployment.yaml
  kubernetes/applications/stirlingpdf/deployment.yaml
Due: yaml_lint, update_invidious

gitlab cleanup
  ansible/inventory/group_vars/all.yml
  ansible/roles/gitlab/files/docker-compose.yml
  ansible/roles/gitlab/handlers/main.yaml
  ansible/roles/gitlab/tasks/docker_cleanup.yaml
  ansible/roles/gitlab/tasks/main.yaml
  ansible/roles/gitlab/templates/daemon.json.j2
  ansible/roles/gitlab/templates/docker-cleanup.sh.j2
  ansible/roles/invidious/templates/docker-compose.yml.j2
  docs/blog/posts/2025_05_23_cka_consigli.md
  kubernetes/applications/invidious/deployment.yaml
  kubernetes/applications/peanut/deployment.yaml
  kubernetes/applications/stirlingpdf/deployment.yaml
Due: yaml_lint, update_invidious

gitlab cleanup
  ansible/roles/gitlab/tasks/certbot.yaml
  ansible/roles/gitlab/tasks/docker_cleanup.yaml
  ansible/roles/gitlab/tasks/setup_gitlab.yaml
  ansible/roles/gitlab/templates/docker-cleanup.sh.j2
  ansible/roles/gitlab/templates/renew-cert.sh.j2
Due: yaml_lint

Merge branch 'renovate/ghcr.io-linuxserver-bazarr-1.5.x' into 'master'
  kubernetes/applications/bazarr/deployment.yaml
Due: yaml_lint

fix role
  ansible/gitlab.yml
  ansible/inventory/hosts.ini
  ansible/roles/gitlab/tasks/certbot.yaml
  ansible/roles/gitlab/tasks/docker_cleanup.yaml
  ansible/roles/gitlab/tasks/main.yaml
  ansible/roles/gitlab/tasks/setup_gitlab.yaml
Due: yaml_lint

Merge branch 'renovate/ghcr.io-linuxserver-speedtest-tracker-1.6.x' into 'master'
  kubernetes/applications/speedtest/deployment.yaml
Due: yaml_lint

external secrets crd
  kubernetes/infra/external-secrets-crds.yaml
  kubernetes/infra/manifests/external-secrets-operator/values.yaml
Due: yaml_lint

Path conditions:
  yaml_lint: any of: **/*.yml, **/*.yml.j2, **/*.yaml, **/*.yaml.j2
  update_invidious: any of: ansible/roles/invidious/templates/docker-compose.yml.j2
