Repository ildoc/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: yaml_lint, update_invidious, update_redis, update_db, tofu-validate, tofu-plan, tofu-apply

Path conditions:
  yaml_lint: any of: **/*.yml, **/*.yml.j2, **/*.yaml, **/*.yaml.j2
  update_invidious: any of: ansible/roles/invidious/templates/docker-compose.yml.j2
  update_redis: any of: ansible/roles/redis/**/*
  update_db: any of: ansible/roles/db/**/*
  tofu-validate: any of: opentofu/**/*, !opentofu/archived/**/*
  tofu-plan: any of: opentofu/**/*, !opentofu/archived/**/*
  tofu-apply: any of: opentofu/**/*, !opentofu/archived/**/*

update renovate
  renovate.json
Due: none

Merge branch 'renovate/n8nio-n8n-1.114.x' into 'master'
  kubernetes/charts/n8n/values.yaml
  kubernetes/infra/manifests/argocd/Chart.lock
  kubernetes/infra/manifests/argocd/Chart.yaml
Due: yaml_lint

Merge branch 'renovate/alpine-3.x' into 'master'
  .gitlab/ci/opentofu.yml
Due: yaml_lint

Merge branch 'master' of gitlab.local.ildoc.it:ildoc/homelab
  renovate.json
Due: none

renovate
  renovate.json
Due: none

gitlab
  ansible/roles/gitlab/tasks/docker_cleanup.yaml
  ansible/roles/gitlab/tasks/main.yaml
  ansible/roles/gitlab/tasks/setup_gitlab.yaml
  ansible/roles/gitlab/templates/gitlab.rb.j2
  ansible/roles/gitlab/templates/nginx.conf.j2
Due: yaml_lint

renovate
  ansible/roles/invidious/templates/docker-compose.yml.j2
  renovate.json
Due: yaml_lint, update_invidious

removed gitea
  ansible/roles/gitea/files/docker-compose.yml
  ansible/roles/gitea/tasks/main.yaml
  ansible/roles/gitea/vars/main.yaml
Due: yaml_lint

Merge branch 'renovate/migrate-config' into 'master'
  renovate.json
Due: none

Merge branch 'renovate/cert-manager-1.x' into 'master'
  kubernetes/infra/manifests/cert-manager/Chart.lock
  kubernetes/infra/manifests/cert-manager/Chart.yaml
Due: yaml_lint

Merge branch 'renovate/argo-cd-8.5.x' into 'master'
  kubernetes/infra/manifests/argocd/Chart.lock
  kubernetes/infra/manifests/argocd/Chart.yaml
Due: yaml_lint

Merge branch 'renovate/kube-prometheus-stack-77.x' into 'master'
  kubernetes/infra/manifests/prometheus-stack/Chart.lock
  kubernetes/infra/manifests/prometheus-stack/Chart.yaml
Due: yaml_lint

revert to python 3.13
  ansible/roles/redis/templates/docker-compose.yml.j2
Due: yaml_lint, update_redis

renovate
  .yamllint
  ansible/roles/redis/tasks/main.yaml
  ansible/tasks/docker/update-compose-unified.yaml
  renovate.json
Due: yaml_lint, update_redis

sast
  gl-sast-report.json
  renovate.json
Due: none

Merge branch 'renovate/pin-dependencies' into 'master'
  .github/workflows/gh-pages.yml
  .gitlab/ci/opentofu.yml
  .gitlab/ci/templates/update_service_ansible.yml
  ansible/roles/gitlab/files/docker-compose.yml
  ansible/roles/vault/files/docker-compose.yml
  docker-compose.yaml
  gl-sast-report.json
  kubernetes/charts/n8n/values.yaml
  kubernetes/infra/manifests/prometheus-stack/values.yaml
Due: yaml_lint

matrix
  ansible/inventory/group_vars/all.yml
  gl-sast-report.json
  kubernetes/applications/element/configmap.yaml
  kubernetes/applications/element/deployment.yaml
  kubernetes/applications/element/service.yaml
  kubernetes/applications/matrix/cloudflared/configmap.yaml
  kubernetes/applications/matrix/cloudflared/deployment.yaml
  kubernetes/applications/matrix/cloudflared/secret.yaml
  kubernetes/applications/matrix/configmap.yaml
  kubernetes/applications/matrix/deployment.yaml
  kubernetes/applications/matrix/pvc.yaml
  kubernetes/applications/matrix/redis/deployment.yaml
  kubernetes/applications/matrix/redis/pvc.yaml
  kubernetes/applications/matrix/redis/secret.yaml
  kubernetes/applications/matrix/redis/service.yaml
  kubernetes/applications/matrix/secret.yaml
  kubernetes/applications/matrix/service.yaml
  kubernetes/infra/manifests/infra-secrets/authentik-secrets.yaml
Due: yaml_lint

matrix flat
  gl-sast-report.json
  kubernetes/applications/matrix/cloudflared-configmap.yaml
  kubernetes/applications/matrix/cloudflared-deployment.yaml
  kubernetes/applications/matrix/cloudflared-secret.yaml
  kubernetes/applications/matrix/redis-deployment.yaml
  kubernetes/applications/matrix/redis-pvc.yaml
  kubernetes/applications/matrix/redis-secret.yaml
  kubernetes/applications/matrix/redis-service.yaml
Due: yaml_lint

sync wave
  kubernetes/applications/matrix/cloudflared-configmap.yaml
  kubernetes/applications/matrix/cloudflared-deployment.yaml
  kubernetes/applications/matrix/cloudflared-secret.yaml
  kubernetes/applications/matrix/init-job.yaml
  kubernetes/applications/matrix/redis-deployment.yaml
  kubernetes/applications/matrix/redis-pvc.yaml
  kubernetes/applications/matrix/redis-secret.yaml
  kubernetes/applications/matrix/redis-service.yaml
  kubernetes/applications/matrix/secret.yaml
Due: yaml_lint

tmp
  kubernetes/applications/matrix/cloudflared-configmap.yaml
  kubernetes/applications/matrix/cloudflared-deployment.yaml
  kubernetes/applications/matrix/cloudflared-secret.yaml
  kubernetes/applications/matrix/configmap.yaml
  kubernetes/applications/matrix/deployment.yaml
  kubernetes/applications/matrix/init-job.yaml
  kubernetes/applications/matrix/pvc.yaml
  kubernetes/applications/matrix/redis-deployment.yaml
  kubernetes/applications/matrix/redis-pvc.yaml
  kubernetes/applications/matrix/redis-secret.yaml
  kubernetes/applications/matrix/redis-service.yaml
  kubernetes/applications/matrix/secret.yaml
  kubernetes/applications/matrix/service.yaml
Due: yaml_lint

tmp
  kubernetes/matrix/cloudflared-configmap.yaml
  kubernetes/matrix/cloudflared-deployment.yaml
  kubernetes/matrix/cloudflared-secret.yaml
  kubernetes/matrix/configmap.yaml
  kubernetes/matrix/deployment.yaml
  kubernetes/matrix/init-job.yaml
  kubernetes/matrix/pvc.yaml
  kubernetes/matrix/redis-deployment.yaml
  kubernetes/matrix/redis-pvc.yaml
  kubernetes/matrix/redis-secret.yaml
  kubernetes/matrix/redis-service.yaml
  kubernetes/matrix/secret.yaml
  kubernetes/matrix/service.yaml
Due: yaml_lint

tmp
  kubernetes/applications/matrix/deployment.yaml
  kubernetes/applications/matrix/init-job.yaml
Due: yaml_lint

tmp
  kubernetes/applications/matrix/deployment.yaml
Due: yaml_lint
