Repository ildoc/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: yaml_lint, update_invidious, update_redis, update_db, validate_kestra_flows, deploy_kestra_namespace_files, deploy_kestra_flows, tofu-validate, tofu-plan, tofu-apply

yaml_lint:
  stage: lint
  image: python:3.13
  script:
  - pip install yamllint
  - yamllint . -c .yamllint
  allow_failure: true

update_invidious:
  variables:
    SERVICE_SSH_SERVER_IP: invidious
    SERVICE_PLAYBOOK: invidious.yml

update_redis:
  variables:
    SERVICE_SSH_SERVER_IP: redis
    SERVICE_PLAYBOOK: redis.yml

update_db:
  variables:
    SERVICE_SSH_SERVER_IP: db
    SERVICE_PLAYBOOK: db.yml

validate_kestra_flows:
  stage: lint_quality
  image: mikefarah/yq:latest
  needs: []
  script:
  - cd ${KESTRA_DIR}
  ...

deploy_kestra_namespace_files:
  stage: sync
  image: hashicorp/vault:latest
  needs: []
  before_script:
  ...

deploy_kestra_flows:
  stage: sync
  image: hashicorp/vault:latest
  needs:
  - job: deploy_kestra_namespace_files
    optional: true
  before_script:
  ...

tofu-validate:
  image: alpine:3.21
  ...

tofu-plan:
  image: alpine:3.21
  ...

tofu-apply:
  image: alpine:3.21
  ...

p
  kubernetes/charts/poctest/templates/deployment-pocmanager.yaml
  kubernetes/charts/poctest/templates/deployment-pocsender.yaml
Due: yaml_lint

Merge branch 'renovate/hashicorp-vault-1.x' into 'master'
  ansible/roles/vault/files/docker-compose.yml
Due: yaml_lint

Merge branch 'renovate/kestra-1.0.x' into 'master'
  kubernetes/charts/kestra/Chart.yaml
Due: yaml_lint

Merge branch 'renovate/pin-dependencies' into 'master'
  .gitlab/ci/kestra.yml
  kubernetes/charts/kestra/values.yaml
Due: yaml_lint

Merge branch 'renovate/kube-prometheus-stack-78.x' into 'master'
  ansible/roles/gitlab/files/docker-compose.yml
  kubernetes/infra/manifests/prometheus-stack/Chart.lock
  kubernetes/infra/manifests/prometheus-stack/Chart.yaml
Due: yaml_lint

Merge branch 'renovate/gitlab-gitlab-ce-18.5.x' into 'master'
  ansible/roles/gitlab/files/docker-compose.yml
  kubernetes/charts/n8n/values.yaml
Due: yaml_lint

Merge branch 'renovate/cilium-1.18.x' into 'master'
  kubernetes/infra/manifests/cilium/Chart.lock
  kubernetes/infra/manifests/cilium/Chart.yaml
Due: yaml_lint

Merge branch 'renovate/rancher-2.12.x' into 'master'
  kubernetes/infra/manifests/rancher/Chart.yaml
Due: yaml_lint

invidious
  ansible/roles/invidious/templates/docker-compose.yml.j2
Due: yaml_lint, update_invidious

Merge branch 'renovate/authentik-2025.x' into 'master'
  ansible/gitlab.yml
  ansible/inventory/host_vars/gitlab.yml
  ansible/inventory/host_vars/invidious.yml
  ansible/inventory/host_vars/pihole.yml
  ansible/inventory/host_vars/redis.yml
  ansible/invidious.yml
  ansible/pihole.yml
  ansible/redis.yml
  ansible/roles/db/tasks/deploy-containers.yaml
  ansible/roles/db/vars/main.yaml
  ansible/roles/gitlab/tasks/setup_gitlab.yaml
  ansible/roles/gitlab/templates/docker-compose.yml
  ansible/roles/gitlab/templates/entrypoint.sh
  ansible/roles/gitlab/vars/main.yaml
  ansible/roles/invidious/tasks/main.yaml
  ansible/roles/invidious/vars/main.yaml
  ansible/roles/redis/tasks/main.yaml
  ansible/roles/redis/vars/main.yaml
  ansible/roles/vault/tasks/main.yaml
  ansible/roles/vault/vars/main.yaml
  kubernetes/infra/manifests/authentik/Chart.lock
  kubernetes/infra/manifests/authentik/Chart.yaml
Due: yaml_lint, update_redis, update_db

immich
  .gitlab/ci/kestra.yml
  ansible/db.yml
  ansible/inventory/host_vars/db.yml
  kestra-flows/_flows/db.yml
  kestra-flows/_flows/infrastructure/ansible-playbook-runner.yml
  kubernetes/charts/archived/kestra/Chart.yaml
  kubernetes/charts/archived/kestra/templates/httproute.yaml
  kubernetes/charts/archived/kestra/templates/pvc.yaml
  kubernetes/charts/archived/kestra/templates/secrets.yaml
  kubernetes/charts/archived/kestra/values.yaml
  kubernetes/charts/archived/n8n/Chart.yaml
  kubernetes/charts/archived/n8n/templates/httproute.yaml
  kubernetes/charts/archived/n8n/templates/secret.yaml
  kubernetes/charts/archived/n8n/values.yaml
  kubernetes/charts/archived/poctest/Chart.yaml
  kubernetes/charts/archived/poctest/templates/deployment-pocmanager.yaml
  kubernetes/charts/archived/poctest/templates/deployment-pocsender.yaml
  kubernetes/charts/archived/poctest/templates/httproute.yaml
  kubernetes/charts/archived/poctest/templates/role.yaml
  kubernetes/charts/archived/poctest/templates/rolebinding.yaml
  kubernetes/charts/archived/poctest/templates/secret.yaml
  kubernetes/charts/archived/poctest/templates/serviceaccount.yaml
  kubernetes/charts/archived/poctest/templates/services.yaml
  kubernetes/charts/archived/poctest/values.yaml
  kubernetes/charts/immich/Chart.yaml
  kubernetes/charts/immich/templates/httproute.yaml
  kubernetes/charts/immich/templates/pv-library.yaml
  kubernetes/charts/immich/templates/pvc-library.yaml
  kubernetes/charts/immich/templates/secret.yaml
  kubernetes/charts/immich/values.yaml
Due: yaml_lint, validate_kestra_flows, deploy_kestra_flows

immich
  kubernetes/charts/immich/values.yaml
Due: yaml_lint

immich
  ansible/inventory/host_vars/pihole.yml
  kubernetes/charts/immich/values.yaml
Due: yaml_lint

immich
  kubernetes/charts/immich/templates/secret.yaml
  kubernetes/charts/immich/values.yaml
Due: yaml_lint

immich pass
  kubernetes/charts/immich/templates/sync-hook-patch.yaml
  kubernetes/charts/immich/values.yaml
Due: yaml_lint

immich pass
  kubernetes/charts/immich/values.yaml
Due: yaml_lint

immich pass
  ansible/inventory/host_vars/db.yml
  ansible/roles/db/templates/docker-compose.yml.j2
  kubernetes/charts/immich/templates/httproute.yaml
  kubernetes/charts/immich/templates/sync-hook-patch.yaml
Due: yaml_lint, update_db

immich pass
  kubernetes/charts/archived/immich/Chart.yaml
  kubernetes/charts/archived/immich/templates/httproute.yaml
  kubernetes/charts/archived/immich/templates/pv-library.yaml
  kubernetes/charts/archived/immich/templates/pvc-library.yaml
  kubernetes/charts/archived/immich/templates/secret.yaml
  kubernetes/charts/archived/immich/templates/sync-hook-patch.yaml
  kubernetes/charts/archived/immich/values.yaml
Due: yaml_lint

immich pass
  kubernetes/charts/immich/Chart.yaml
  kubernetes/charts/immich/templates/httproute.yaml
  kubernetes/charts/immich/templates/pv-library.yaml
  kubernetes/charts/immich/templates/pvc-library.yaml
  kubernetes/charts/immich/templates/secret.yaml
  kubernetes/charts/immich/templates/sync-hook-patch.yaml
  kubernetes/charts/immich/values.yaml
Due: yaml_lint

immich pass
  kubernetes/charts/immich/Chart.lock
  kubernetes/charts/immich/charts/immich-0.10.1.tgz
  kubernetes/charts/immich/templates/sync-hook-patch.yaml
  kubernetes/charts/immich/values.yaml
Due: yaml_lint

Merge branch 'renovate/authentik-2025.10.x' into 'master'
  kubernetes/infra/manifests/authentik/Chart.lock
  kubernetes/infra/manifests/authentik/Chart.yaml
Due: yaml_lint

tmp remove sonarqube
  kubernetes/charts/archived/sonarqube/Chart.yaml
  kubernetes/charts/archived/sonarqube/values.yaml
  kubernetes/charts/immich/charts/immich-0.10.1.tgz
  kubernetes/infra/manifests/authentik/values.yaml
Due: yaml_lint

Merge branch 'renovate/immich-0.10.x' into 'master'
  ansible/roles/db/templates/docker-compose.yml.j2
  ansible/roles/invidious/templates/docker-compose.yml.j2
  kubernetes/charts/immich/Chart.lock
  kubernetes/charts/immich/Chart.yaml
  kubernetes/charts/sonarqube/Chart.yaml
  kubernetes/charts/sonarqube/values.yaml
Due: yaml_lint, update_invidious, update_db

immich
  ansible/roles/db/tasks/deploy-containers.yaml
  ansible/roles/gitlab/tasks/setup_gitlab.yaml
  ansible/roles/invidious/tasks/main.yaml
  ansible/roles/invidious/templates/docker-compose.yml.j2
  ansible/roles/redis/tasks/main.yaml
  ansible/roles/vault/tasks/main.yaml
  ansible/roles/wireguard/tasks/main.yaml
  ansible/tasks/docker/README.md
  ansible/tasks/docker/update-compose-template.yaml
  ansible/tasks/docker/update-compose-unified.yaml
  ansible/tasks/docker/update-compose.yaml
  kubernetes/charts/immich/values.yaml
Due: yaml_lint, update_invidious, update_redis, update_db

immich 2.2.3
  .gitlab/ci/ansible_services.yml
  kubernetes/charts/immich/values.yaml
Due: yaml_lint

stirlingpdf -> bentopdf
  kubernetes/applications/bentopdf/deployment.yaml
  kubernetes/applications/bentopdf/httproute.yaml
  kubernetes/applications/bentopdf/service.yaml
  kubernetes/applications/stirlingpdf/deployment.yaml
  kubernetes/applications/stirlingpdf/pvc.yaml
Due: yaml_lint

Merge branch 'renovate/gitlab-gitlab-ce-18.5.x' into 'master'
  ansible/roles/gitlab/templates/docker-compose.yml
Due: yaml_lint

invidious
  ansible/inventory/host_vars/pihole.yml
  ansible/roles/invidious/templates/docker-compose.yml.j2
Due: yaml_lint, update_invidious

Merge branch 'renovate/immich-0.10.x' into 'master'
  kubernetes/charts/immich/Chart.lock
  kubernetes/charts/immich/Chart.yaml
Due: yaml_lint

Merge branch 'renovate/actions-checkout-digest' into 'master'
  .github/workflows/gh-pages.yml
Due: yaml_lint

Merge branch 'master' of gitlab.local.ildoc.it:ildoc/homelab
  kubernetes/applications/bentopdf/deployment.yaml
Due: yaml_lint

bento
  kubernetes/applications/bentopdf/deployment.yaml
Due: yaml_lint

Path conditions:
  yaml_lint: any of: **/*.yml, **/*.yml.j2, **/*.yaml, **/*.yaml.j2
  update_invidious: any of: ansible/roles/invidious/templates/docker-compose.yml.j2
  update_redis: any of: ansible/roles/redis/**/*
  update_db: any of: ansible/roles/db/**/*
  validate_kestra_flows: any of: kestra-flows/_flows/**/*.yml
  deploy_kestra_namespace_files: any of: kestra-flows/scripts/**/*, kestra-flows/queries/**/*, kestra-flows/configs/**/*, kestra-flows/templates/**/*
  deploy_kestra_flows: any of: kestra-flows/_flows/**/*.yml
  tofu-validate: any of: opentofu/**/*, !opentofu/archived/**/*
  tofu-plan: any of: opentofu/**/*, !opentofu/archived/**/*
  tofu-apply: any of: opentofu/**/*, !opentofu/archived/**/*
