Repository ildoc/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: yaml_lint, update_invidious

yaml_lint:
  stage: lint
  image: python:3.13
  script:
  - pip install yamllint
  - yamllint . -c .yamllint
  allow_failure: true

update_invidious:
  variables:
    SERVICE_SSH_SERVER_IP: $INVIDIOUS_SSH_SERVER_IP
    SERVICE_PLAYBOOK: invidious.yml

Merge branch 'renovate/gitlab-gitlab-ce-17.x' into 'master'
  .gitlab-ci.yml
  .gitlab/ci/ansible_services.yml
  .gitlab/ci/invidious.yml
Due: yaml_lint

Merge branch 'renovate/frooodle-s-pdf-0.x' into 'master'
  .gitlab-ci.yml
  .gitlab/ci/ansible_services.yml
  .gitlab/ci/templates/update_service_ansible.yml
  kubernetes/applications/stirlingpdf/deployment.yaml
Due: yaml_lint

Merge branch 'renovate/ghcr.io-linuxserver-bazarr-1.x' into 'master'
  kubernetes/applications/bazarr/deployment.yaml
Due: yaml_lint

fix tasks
  .gitlab/ci/ansible_services.yml
  ansible/inventory/group_vars/all.yml
  ansible/redis.yml
  ansible/roles/invidious/templates/docker-compose.yml.j2
  ansible/roles/redis/tasks/main.yaml
  ansible/roles/redis/templates/docker-compose.yml.j2
  ansible/roles/redis/templates/redis.conf.j2
  ansible/roles/redis/templates/users.acl.j2
  ansible/roles/vault/files/docker-compose.yml
  ansible/tasks/docker/update-compose-template.yaml
  ansible/tasks/docker/update-compose.yaml
Due: yaml_lint, update_invidious

redis
  ansible/redis.yml
  ansible/roles/invidious/templates/docker-compose.yml.j2
  ansible/roles/vault/files/docker-compose.yml
  ansible/tasks/docker/update-compose-template.yaml
  ansible/tasks/docker/update-compose.yaml
Due: yaml_lint, update_invidious

kitchenowl
  ansible/argocd.yml
  ansible/redis.yml
  ansible/roles/invidious/templates/docker-compose.yml.j2
  ansible/roles/vault/files/docker-compose.yml
  ansible/tasks/docker/update-compose-template.yaml
  ansible/tasks/docker/update-compose.yaml
  kubernetes/applications/kitchenowl/deployment.yaml
  kubernetes/applications/kitchenowl/httproute.yaml
  kubernetes/applications/kitchenowl/pvc.yaml
  kubernetes/applications/kitchenowl/service.yaml
  kubernetes/infra/manifests/ingresses/harbor.yaml
Due: yaml_lint, update_invidious

kitchenowl
  kubernetes/applications/kitchenowl/service.yaml
Due: yaml_lint

kitchenowl
  ansible/inventory/group_vars/all.yml
  kubernetes/applications/docs/deployment.yaml
  kubernetes/applications/docs/httproute.yaml
  kubernetes/applications/docs/service.yaml
  kubernetes/applications/kitchenowl/httproute.yaml
  kubernetes/applications/kitchenowl/service.yaml
Due: yaml_lint

test parameters
  kubernetes/infra/rancher.yaml
Due: yaml_lint

truenas-route
  kubernetes/infra/manifests/ingresses/harbor.yaml
  kubernetes/infra/manifests/ingresses/truenas.yaml
Due: yaml_lint

update docs
  README.md
  docs/blog/posts/2025_04_30_finalmente_open.md
  kubernetes/applications/kitchenowl/deployment.yaml
  kubernetes/applications/kitchenowl/httproute.yaml
  kubernetes/applications/kitchenowl/pvc.yaml
  kubernetes/applications/kitchenowl/service.yaml
  kubernetes/infra/manifests/ingresses/truenas.yaml
Due: yaml_lint

update docs
  .gitlab-ci.yml
  .gitlab-ci.yml_ot
Due: yaml_lint

backblaze
  README.md
Due: none

Merge branch 'renovate/redis-8.x' into 'master'
  ansible/roles/redis/templates/docker-compose.yml.j2
Due: yaml_lint

Merge branch 'master' of gitlab.local.ildoc.it:ildoc/homelab
  .gitlab-ci.yml
  README.md
  ansible/inventory/group_vars/all.yml
  opentofu/modules/proxmox-lxc/providers.tf
  opentofu/modules/proxmox-vm/providers.tf
  opentofu/providers.tf
Due: yaml_lint

test localization
  .github/workflows/gh-pages.yml
  docs/blog/index.en.md
  docs/blog/index.it.md
  docs/blog/index.md
  docs/blog/posts/2025_04_30_finalmente_open.en.md
  docs/blog/posts/2025_04_30_finalmente_open.it.md
  docs/blog/posts/2025_05_15_external_secrets_argo_gitops.md
  mkdocs.yml
Due: yaml_lint

test localization
  docs/blog/index.md
Due: none

test localization
  docs/blog/index.en.md
  docs/blog/index.it.md
  docs/blog/posts/2025_04_30_finalmente_open.en.md
  docs/blog/posts/2025_04_30_finalmente_open.it.md
  mkdocs.yml
Due: yaml_lint

revert
  .github/workflows/gh-pages.yml
  docs/blog/index.md
  docs/blog/posts/2025_04_30_finalmente_open.md
  mkdocs.yml
Due: yaml_lint

Merge branch 'renovate/gitlab-gitlab-ce-18.x' into 'master'
  ansible/roles/gitlab/files/docker-compose.yml
Due: yaml_lint

update external secrets
  kubernetes/applications/speedtest/secret.yaml
  kubernetes/infra/manifests/cert-manager/templates/cloudflare-secrets.yaml
  kubernetes/infra/manifests/external-secrets-operator/Chart.yaml
  kubernetes/infra/manifests/external-secrets-operator/templates/cluster-secret-store.yaml
Due: yaml_lint

renew token
  kubernetes/infra/manifests/external-secrets-operator/templates/eso-bootstrap.yaml
  kubernetes/infra/manifests/external-secrets-operator/templates/vault-credentials-renewal-cronjob.yaml
Due: yaml_lint

update policy eso
  kubernetes/infra/manifests/external-secrets-operator/templates/eso-bootstrap.yaml
Due: yaml_lint

Merge branch 'renovate/ghcr.io-advplyr-audiobookshelf-2.x' into 'master'
  kubernetes/applications/audiobookshelf/deployment.yaml
Due: yaml_lint

Merge branch 'renovate/alpine-k8s-1.x' into 'master'
  kubernetes/infra/manifests/external-secrets-operator/templates/eso-bootstrap.yaml
  kubernetes/infra/manifests/external-secrets-operator/templates/vault-credentials-renewal-cronjob.yaml
Due: yaml_lint

Merge branch 'renovate/ghcr.io-linuxserver-speedtest-tracker-1.x' into 'master'
  kubernetes/applications/speedtest/deployment.yaml
Due: yaml_lint

merge
  docs/assets/images/gitops_argocd.png
  docs/blog/posts/2025_04_30_finalmente_open.md
  docs/blog/posts/2025_05_15_external_secrets_argo_gitops.md
  kubernetes/infra/manifests/external-secrets-operator/templates/eso-bootstrap.yaml
  kubernetes/infra/manifests/external-secrets-operator/templates/vault-credentials-renewal-cronjob.yaml
Due: yaml_lint

Merge branch 'renovate/frooodle-s-pdf-0.x' into 'master'
  kubernetes/applications/stirlingpdf/deployment.yaml
Due: yaml_lint

Merge branch 'renovate/hashicorp-vault-1.x' into 'master'
  ansible/roles/vault/files/docker-compose.yml
Due: yaml_lint

update invidious
  ansible/roles/invidious/templates/docker-compose.yml.j2
  kubernetes/infra/manifests/external-secrets-operator/templates/vault-credentials-renewal-cronjob.yaml
Due: yaml_lint, update_invidious

Merge branch 'renovate/brandawg93-peanut-5.x' into 'master'
  kubernetes/applications/peanut/deployment.yaml
Due: yaml_lint

update invidious
  ansible/roles/invidious/templates/docker-compose.yml.j2
Due: yaml_lint, update_invidious

Merge branch 'renovate/cert-manager-1.x' into 'master'
  kubernetes/infra/manifests/cert-manager/Chart.yaml
Due: yaml_lint

Path conditions:
  yaml_lint: any of: **/*.yml, **/*.yml.j2, **/*.yaml, **/*.yaml.j2
  update_invidious: any of: ansible/roles/invidious/templates/docker-compose.yml.j2
